{% extends "base.html" %}

{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{{ style }}">
</head>
<div class="box-1">
    <form action="/create" method="post">
        <label>Дата</label>
        <input type="text" class="form-control"
               name="date" value="" required>

        <label>Колличество этажей</label>
        <input type="text" class="form-control"
               name="h" value="" required>

        <label>Колличество колличество комнат на этаже</label>
        <input type="text" class="form-control"
               name="rooms" value="" required>

        <label>Расположение окон</label>
        <input type="text" class="form-control"
               name="direct" value="" required>

        <label>Введите горящие окна (формат: false/true, разделенные пробелами)</label>
        <input type="text" class="form-control"
               name="light" value="" required>
        <button type="submit" class="button1" style="width:135px;height:45px;">Создать</button>
    </form>
</div>
<footer>
    <div style="background: black; color: white; padding: 10px; margin-top: 10px">
        <h3>Проект команды «Los penguinos»</h3>
        <h5>Наша команда разработчиков:<br>Тимур Шагеев<br>Селиверстов Дмитрий<br>Егоров Пётр<br>Глазков Слава<br>Катышкин
            Олег</h5>
    </div>
</footer>

{% endblock %}
